<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/akun"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Nama</ion-label>
    <ion-input [(ngModel)]="user.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input [value]="user.email" readonly></ion-input>
  </ion-item>

  <ion-button expand="block" color="success" (click)="save()">
    Simpan Perubahan
  </ion-button>
</ion-content>
