<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"home></ion-back-button>
    </ion-buttons>
    <ion-title>Akun Saya</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Halo,</ion-card-subtitle>
      <ion-card-title>{{ user?.name || 'Pengguna' }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button expand="block" routerLink="/edit-profil">
        <ion-icon slot="start" name="create-outline"></ion-icon>
        Edit Profil
      </ion-button>

      <ion-button expand="block" routerLink="/riwayat">
        <ion-icon slot="start" name="list-outline"></ion-icon>
        Riwayat Belanja
      </ion-button>

      <ion-button expand="block" color="danger" (click)="logout()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        Logout
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
